asgiref==3.11.1
click==8.4.1
colorama==0.4.6
Django==5.2.14
gunicorn==26.0.0
joblib==1.5.3
nltk==3.9.4
numpy==2.4.6
packaging==26.2
regex==2026.5.9
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.3
tzdata==2026.2
whitenoise==6.12.0
